body {
    max-width:100%;
    height:auto;
    margin:0 auto;
}

/*-----------4 Column Layout Start-----------*/

.ars-column1 {
    float: left;
    width: 25%;
    height:auto;
    text-align:center;
    display:block;

}

.ars-column2 {
    float: left;
    width: 25%;
    height:auto;
    text-align:center;
    display:block;
}

.ars-column3 {
    float: left;
    width: 25%;
    height:auto;
    text-align:center;
    display:block;
}

.ars-column4 {
    float: left;
    width: 25%;
    height:auto;
    text-align:center;
    display:block;
}

/*-----------------4 Column Layout End--------------*/
    

/*----------------Page Copy (Top)------------------*/

h1.ars-donate-partners {
    width:100%;
    margin:0 auto;
    font-size:38px;
    color:#333333;
    text-align:center;
    line-height:44px;
    color:#333333;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    padding:10px;
}

.ars-company-keywords {
    width:90%;
    font-size: 20px; 
    line-height: 26px;
    color:#333333; 
    font-family: Lato, Helvetica, sans-serif;
    text-align: center;
    padding-left:15px;
    padding-right:15px;
    width:75%;
    margin:0 auto;
    margin-bottom:20px;
}

/*---------------Page Copy (Top) End----------------*/


/*----------Clear floats after the columns---------*/

.ars-row:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------Clear floats End------------------*/


/*-------------------4 Rows Start-------------------*/

.ars-row {
    width:70%;
    height:auto;
    padding-top:30px;
    margin-top:20px;
    text-align:center;
    margin:0 auto;
    }

.ars-row-1 {
    width:70%;
    height:auto;
    padding-top:30px;
    text-align:center;
    margin:0 auto;
    }

.ars-row-2 {
    clear: both;
    width:70%;
    height:auto;
    padding-top:30px;
    margin-top:50px;
    margin-bottom:60px !important;
    text-align:center;
    margin:0 auto;
    }

.ars-row-3 {
    width:80%;
    height:auto;
    padding-top:30px;
    margin-top:20px;
    margin-bottom:60px !important;
    text-align:center;
    margin:0 auto;
    }

/*-------------------4 Rows End-------------------*/


/*----------------Charity Tiles-----------------*/

.ars-charity-tile {
    width:75%;
    column-gap:1em;
}

/*--------------------End-----------------------*/


a:link {
    text-decoration:none;
}


/*-------------------Button Start-------------------*/


.ars-btn-1 {
    width:350px;
    height:auto;
    background-color:#F06E26;
    color:#ffffff;
    font-size:24px;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    text-decoration:none !important;
    margin-top:100px !important;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    border:none;
    transition:color:1s ease;
}

.ars-btn-1:hover {
    max-width:350px;
    height:auto;
    background-color:#f48346;
    cursor:pointer;
    color:#ffffff;
    font-size:24px;
    -webkit-box-shadow: 0 8px 6px -4px #d6d6d6;
	   -moz-box-shadow: 0 8px 6px -4px #d6d6d6;
	        box-shadow: 0 8px 6px -4px #d6d6d6;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.ars-btn-1 :visited {
    
    text-decoration:none;
}

/*-------------------Button End-------------------*/


/*------------------Media Queries----------------*/


@media screen and (max-width: 1660px) {


body {
    width:100%;
    }

h1.ars-donate-partners {
    width:80%;
    margin:0 auto;
    font-size:36px;
    color:#333333;
    text-align:center;
    line-height:42px;
    color:#333333;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    margin-top:40px;
    margin-bottom:20px;
    padding:10px;
    }

.ars-company-keywords {
    width:90%;
    }

    
.ars-column1 {
    width: 50%;
    }

.ars-column2 {
    width: 50%;
    }
    
.ars-column3 {
    width: 50%;
    }
    
.ars-column4 {
    width: 50%;
    }

.ars-row-3 {
    width:60%;
    height:auto;
    padding-top:30px;
    margin-top:20px;
    margin-bottom:30px !important;
    text-align:center;
    margin:0 auto;
    }

.ars-btn-1 {
    height:auto;
    background-color:#F06E26;
    color:#ffffff;
    font-size:24px;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    text-decoration:none;
    margin-top:60px !important;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    border:none;
    transition:color:1s ease;
    }  
}

.ars-btn-1:hover {
    width:70%;
    height:auto;
    background-color:#f48346;
    cursor:pointer;
    color:#ffffff;
    font-size:24px;
    -webkit-box-shadow: 0 8px 6px -4px #d6d6d6;
	   -moz-box-shadow: 0 8px 6px -4px #d6d6d6;
	        box-shadow: 0 8px 6px -4px #d6d6d6;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.ars-btn-1 :visited {
    
    text-decoration:none;
}
    

@media screen and (max-width: 960px) {
.ars-row-3 {
    width:90%;
    height:auto;
    padding-top:30px;
    margin-top:20px;
    margin-bottom:60px !important;
    text-align:center;
    margin:0 auto;
    }

h1.ars-donate-partners {
    width:90%;
    margin:0 auto;
    font-size:38px;
    color:#333333;
    text-align:center;
    line-height:44px;
    color:#333333;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    margin-top:40px;
    margin-bottom:4px;
    padding:10px;
    }

.ars-company-keywords {
    width:90%;    
    }
    
.ars-btn-1 {
    height:auto;
    background-color:#F06E26;
    color:#ffffff;
    font-size:24px;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    text-decoration:none;
    margin-top:60px !important;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    border:none;
    }
    
.ars-btn-1:hover {
    height:auto;
    background-color:#f48346;
    cursor:pointer;
    color:#ffffff;
    font-size:24px;
    -webkit-box-shadow: 0 8px 6px -4px #d6d6d6;
	   -moz-box-shadow: 0 8px 6px -4px #d6d6d6;
	        box-shadow: 0 8px 6px -4px #d6d6d6;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    }
}


@media screen and (max-width: 600px) {
 
body {
   width:100%;
    }

h1.ars-donate-partners {
    width:100%;
    margin:0 auto;
    font-size:36px;
    color:#333333;
    text-align:center;
    line-height:40px;
    color:#333333;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    padding:10px;
}
    
.ars-company-keywords {
    width:100%;
    }

    
.ars-column1 {
    width: 100%;
    }

.ars-column2 {
    width: 100%;
    }
    
.ars-column3 {
    width: 100%;
    }
    
.ars-column4 {
    width: 100%;
    }
    
.ars-btn-1 {
    width:250px;
    height:auto;
    background-color:#F06E26;
    color:#ffffff;
    font-size:24px;
    font-family:Lato, Helvetica, sans-serif;
    font-weight:600;
    text-decoration:none;
    margin-top:60px !important;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    border-radius:10px;
    text-align:center;
    margin:0 auto;
    border:none;
    }
    
.ars-btn-1:hover {
    width:250px;
    height:auto;
    background-color:#f48346;
    cursor:pointer;
    color:#ffffff;
    font-size:24px;
    -webkit-box-shadow: 0 8px 6px -4px #d6d6d6;
	   -moz-box-shadow: 0 8px 6px -4px #d6d6d6;
	        box-shadow: 0 8px 6px -4px #d6d6d6;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.ars-btn-1 :visited {
    
    text-decoration:none;
}


/*-------------------4 Rows Start-------------------*/

.ars-row {
    width:80%;
    height:auto;
    padding-top:30px;
    margin-top:20px;
    text-align:center;
    margin:0 auto;
    }

.ars-row-1 {
    width:80%;
    height:auto;
    padding-top:30px;
    text-align:center;
    margin:0 auto;
    }

.ars-row-2 {
    width:80%;
    height:auto;
    padding-top:30px;
    margin-top:50px;
    margin-bottom:60px !important;
    text-align:center;
    margin:0 auto;
    }

.ars-row-3 {
    width:80%;
    height:auto;
    padding-top:30px;
    margin-top:20px;
    margin-bottom:60px !important;
    text-align:center;
    margin:0 auto;
    }

/*-------------------4 Rows End-------------------*/


.ars-row-1 {
    padding-top:30px;
    padding-bottom:30px;
    } 
}
